@charset "UTF-8";

body {
  font-family: 'Lato';
}

.inner {
  margin: 0 auto;
}

.title-text {
  font-size: 24px;
  font-family: 'Raleway';
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}

.picture {
  vertical-align: top;
}


.header {
  background-color: #FFF;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header-bolt {
  font-size: 40px;
}

.button {
  background-color: #74cfae;
  color: #f2f2f2;
  display: block;
  font-size: 12px;
  border: none;
  transition: color 0.3s linear;
  text-decoration: none;
}

.button:hover {
  color: #333;
}

.header-button {
  float: right;
  padding: 14px 12px;
}

.header-inner {
  padding: 15px 0px;
}

.humberger {
  display: none;
}

.main-class {
  padding-top: 70px;
}

.title-block {
  background-color: #f2f2f2;
  width: 100%;
}

.title-inner {
  text-align: center;
  padding: 250px 0px;
}

.title-top {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
  font-family: 'Raleway';
}

.title-sentence {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.phone {
  background-color: #74cfae;
  width: 100%;
}

.phone-inner {
  text-align: center;
  color: #f2f2f2;
  padding-top: 50px;
}

.phone-title {
  margin-bottom: 35px;
}

.phone-text {
  float: left;
}

.phone-sentence {
  font-size: 20px;
}

.work {
  background-color: #f2f2f2;
  color: #333;
  width: 100%;
}

.work-inner {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 70px;
}

.work-div {
  margin-top: 40px;
}

.work-img {
  display: block;
  transition: opacity 0.3s ease-out;
  opacity: 0.7;
  -webkit-opacity: 0.7;
}

.work-img:hover {
  opacity: 1;
}

.work-block {
  display: table;
  margin: 0 auto;
}

.work-button {
  float: left;
  padding: 14px 20px;
}

.skill {
  background-color: #4e4e4e;
  color: #f2f2f2;
  width: 100%;
}

.skill-inner {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 100px;
}

.skill-text {
  margin-bottom: 50px;
}

.skill-figure {
  display: inline-block;
}

.img-skills {
  font-size: 16px;
}

.figcaption {
  margin-top: 20px;
}

.nav {
  background-color: #f2f2f2;
  font-size: 0;
  list-style: none;
}

.nav-ul {
  text-align: center;
  padding: 200px 0;
}

.nav-list {
  display: inline-block;
  font-size: 40px;
  text-align: center;
  width: 185px;
}

.nav-img {
  color: #74cfae;
  display: block;
  text-decoration: none;
  padding: 25px 0;
  transition: background-color 0.3s linear;
}

.nav-img:hover {
  background-color: #FFF;
}

.footer {
  background-color: #74cfae;
}

.footer-inner {
  padding-top: 20px;
  padding-bottom: 25px;
}

.footer-text {
  color: #f2f2f2;
  text-align: right;
}

/* PC専用追加スタイル */
@media (min-width: 1200px) {
  .inner {
    width: 1100px;
  }
  
  .phone-img {
    float: left;
    margin-left: 70px;
    margin-right: 100px;
  }

  .phone-text {
    width: 60%;
  }

  .work-img {
    float: left;
    margin-left: 100px;
    margin-right: 0px;
  }
    
  .work-img:nth-child(3n + 1) {
    margin-left: 0px;
  }

  .work-img:nth-child(n + 4) {
    margin-top: 80px;
  }

  .work-div {
    margin-bottom: 90px;
  }
  
  .work-text {
    float: left;
    margin-right: 90px;
    width: 460px;
  }

  .img-skills {
    float: left;
    margin-right: 180px;
  }
  
  .img-skills:last-child {
    margin-right: 0px;
  }
}

/* タブレット・スマホ共通追加スタイル */
@media (max-width: 1199px) {
  .inner {
    width: 97%;
  }

  .phone-inner {
    padding-top: 50px;
    padding-bottom: 25px;
  }
  
  .phone-text {
    margin-top: 20px;
  }
  
  .phone-sentence {
    width: 60%;
    margin: 0 auto;
  }

  .work-div {
    display: inline-block;
    margin-bottom: 80px;
  }

  .work-img:nth-child(3n) {
    margin-bottom: 80px;
  }
  
  .work-img:last-child {
    margin-bottom: 0;
  }

  .work-button {
    display: inline-block;
    float: none;
    margin-top: 40px;
  }

  .img-skills {
    margin-bottom: 88px;
  }
  
  .img-skills:last-child {
    margin-bottom: 0px;
  }
}

 /* スマホ専用追加スタイル */
@media (max-width: 767px) {
  .header-button {
    display: none;
  }

  .humberger {
    display: block;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    float: right;
    cursor: pointer;
    width: 50px;
  }

  .line {
    position: relative;
  }
  

  .berger-span {
    display: block;
    width: 100%;
    border-top: 3px solid #ddd;
    margin-bottom: 5px;
  }

  .berger-span:last-child {
    margin-bottom: 0;
  }

  .title-inner {
    padding-top: 160px;
    padding-bottom: 130px;
  }
  
  .title-top {
    font-size: 80px;
  }
  .title-sentence {
    font-size: 30px;
  }
  
  .phone-sentence {
    width: 100%;
  }

  .nav-ul {
    padding: 50px 0;
  }

  .nav-list {
    display: block;
    width: 100%;
  }
}